@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jacques+Francois&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #A7783A;
  box-sizing: border-box;
  overflow-x :hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #000;
  overflow-x: hidden;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);

  --font-cormorant: 'Cormorant', serif;
  --font-cormorant-upright: 'Cormorant Upright', serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* Custom Fonts */
@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/KumbhSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.font-cormorant {
  font-family: 'Cormorant', serif;
}

.font-Cormorant-Upright {
  font-family: 'Cormorant Upright', serif;
}


.curved-edge {
  --c: 120px; 
  mask: radial-gradient(60% var(--c) at bottom, #0000 calc(100% - 2px), #000);
  -webkit-mask: radial-gradient(60% var(--c) at bottom, #0000 calc(100% - 2px), #000);
}

@media (min-width: 640px) {
  .curved-edge {
    --c: 180px;
  }
}

@media (min-width: 1024px) {
  .curved-edge {
    --c: 250px;
  }
}

@media (min-width: 1280px) {
  .curved-edge {
    --c: 300px;
  }
}

/* .swiper {
  padding: 0px !important;
  margin: 20px !important;
} */


@keyframes flower-fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0.8;
  }
}




.swiper-pagination {
  position: static !important;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;                 
  margin-top: 30px;
      
}


.swiper-pagination-bullet{
 width: 12px!important; 
 height: 12px!important;
}

.swiper-pagination-bullet-active {
  background: #ffffff!important;
}
